In [1]:
people = {
    "first" : ["Corey", "Jane", "John",'Adam'],
    "last" : ["Schafer", "Doe", "Doe",'Doe'],
    "email" : ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com",'A@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@gmail.com

In [5]:
df.sort_values(by='last',ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@gmail.com

In [6]:
df.sort_values(by=['last','first'],ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe              A@gmail.com

In [8]:
df.sort_values(by=['last','first'],ascending=[False,True],inplace=True)

In [9]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [13]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@gmail.com

In [15]:
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object

---

In [16]:
df = pd.read_csv('data1/survey_results_public.csv')
schema_df = pd.read_csv('data1/survey_results_schema.csv')

In [17]:
df = pd.read_csv('data1/survey_results_public.csv')
schema_df = pd.read_csv('data1/survey_results_schema.csv')

In [18]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [29]:
df.sort_values(by=["Country",'ConvertedComp'],ascending=[True,False],inplace=True)

In [30]:
df[['Country','ConvertedComp']].head(50)

           Country  ConvertedComp
63925  Afghanistan      1000000.0
63993  Afghanistan      1000000.0
61540  Afghanistan      1000000.0
38261  Afghanistan       231192.0
28270  Afghanistan       130000.0
62520  Afghanistan        23328.0
9806   Afghanistan        23328.0
50812  Afghanistan        20950.0
50469  Afghanistan        20220.0
43642  Afghanistan        18660.0
15371  Afghanistan        18000.0
2918   Afghanistan        16335.0
26443  Afghanistan        13992.0
56146  Afghanistan        10884.0
26676  Afghanistan         8016.0
30451  Afghanistan         5448.0
30405  Afghanistan         4668.0
28704  Afghanistan         4509.0
34842  Afghanistan         4356.0
26758  Afghanistan         2328.0
33755  Afghanistan         1860.0
35602  Afghanistan          780.0
17985  Afghanistan          109.0
35168  Afghanistan            0.0
8599   Afghanistan            NaN
24908  Afghanistan            NaN
57044  Afghanistan            NaN
41950  Afghanistan            NaN
37601  Afghanistan            NaN
7586   Afghanistan            NaN
43157  Afghanistan            NaN
61453  Afghanistan            NaN
50492  Afghanistan            NaN
36354  Afghanistan            NaN
43140  Afghanistan            NaN
43010  Afghanistan            NaN
36887  Afghanistan            NaN
43708  Afghanistan            NaN
35541  Afghanistan            NaN
64306  Afghanistan            NaN
43709  Afghanistan            NaN
23708  Afghanistan            NaN
41506  Afghanistan            NaN
43843  Afghanistan            NaN
59329  Afghanistan            NaN
895    Afghanistan            NaN
50847  Afghanistan            NaN
35052  Afghanistan            NaN
53923  Afghanistan            NaN
45879  Afghanistan            NaN

In [31]:
df['ConvertedComp'].nlargest(10)

53175    2000000.0
5701     2000000.0
42657    2000000.0
58136    2000000.0
45753    2000000.0
1784     2000000.0
3058     2000000.0
3031     2000000.0
1407     2000000.0
3247     2000000.0
Name: ConvertedComp, dtype: float64

In [35]:
df.nlargest(10,'ConvertedComp')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
53175,54263,I am a developer by profession,Yes,29.0,10,Weekly,7.000000e+04,2000000.0,Canada,United States dollar,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,Express;Flask;jQuery,Just as welcome now as I felt last year,36.0,14,5
5701,5725,I am a developer by profession,No,26.0,14,Monthly,1.800000e+05,2000000.0,Canada,United States dollar,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Gatsby,Spring,Not applicable - I did not use Stack Overflow ...,40.0,10,4
42657,43430,I am a developer by profession,Yes,33.0,17,Monthly,1.710000e+05,2000000.0,Italy,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,2
58136,59279,I am a developer by profession,Yes,NaN,12,Monthly,3.000000e+05,2000000.0,Nepal,United States dollar,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Django;Drupal;Flask;Gatsby;Laravel,Angular;Angular.js;ASP.NET;ASP.NET Core;Expres...,A lot more welcome now than last year,40.0,20,14
45753,46711,I am a developer by profession,Yes,NaN,Younger than 5 years,Yearly,1.000000e+56,2000000.0,Nomadic,United States dollar,...,NaN,NaN,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,168.0,More than 50 years,More than 50 years
1784,1793,I am a developer by profession,Yes,27.0,16,Weekly,1.200000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,12,NaN
3058,3072,I am a developer by profession,Yes,32.0,22,Weekly,1.020000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Flask,ASP.NET Core,Somewhat less welcome now than last year,40.0,10,7
3031,3045,I am a developer by profession,Yes,35.0,12,Weekly,1.000000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Just as welcome now as I felt last year,42.0,23,5
1407,1413,I am a developer by profession,Yes,25.0,12,Weekly,4.100000e+04,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery;Laravel,jQuery,Just as welcome now as I felt last year,37.0,13,3
3247,3261,I am a developer by profession,Yes,34.0,23,Weekly,1.150000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;jQuery;Spring,Spring,Just as welcome now as I felt last year,60.0,11,9